{% extends 'base.html' %}
{% block title %}Notifications{% endblock %}

{% block content %}
<div id="top-navigation-bar">
    <div id="page-title">
        <h1>Notifications</h1>
    </div>

    <div id="login-username">
        <h3>{{ current_user.username }}</h3>
        <div class="dropdown">
            <div class="dropdown-content">
                <a href="{{ url_for('home') }}">Home</a>
                <a>Settings</a>
                <a href="{{ url_for('notifications') }}">Notifications</a>
                <a id="logout" href="{{ url_for('logout') }}">logout</a>
            </div>
        </div>
    </div>
</div>

<div id="notifications-section">
    <div id="notification-list"></div>
</div>
{% endblock %}